MYHOTEL_LOGIN_URL="https://fidelity.myhotel.cl/login"
MYHOTEL_USER="seu-login-myhotel"
MYHOTEL_PASSWORD="sua-senha-myhotel"

SUPABASE_URL="https://seu-projeto.supabase.co"
SUPABASE_SERVICE_ROLE_KEY="sua-service-role-key"

# Safety: keep true while testing. Use false only when ready to validate real invites.
ROBOT_DRY_RUN="true"
ROBOT_HEADLESS="false"
MYHOTEL_MAX_REVIEWS="50"
MYHOTEL_REQUIRE_SOURCE_MATCH="true"
MATCH_THRESHOLD="0.86"

# Optional override if MyHotel changes the DOM.
XPATH_USER_INPUT="/html/body/app-root/ng-component/div/div[1]/div/div[1]/section/div[1]/div/div/ng-component/form/div[1]/input"
XPATH_PASS_INPUT="/html/body/app-root/ng-component/div/div[1]/div/div[1]/section/div[1]/div/div/ng-component/form/div[2]/input"
XPATH_LOGIN_BTN="/html/body/app-root/ng-component/div/div[1]/div/div[1]/section/div[1]/div/div/ng-component/form/div[4]/div/button"
XPATH_ONLINE_BTN="/html/body/app-root/ng-component/div/mat-drawer-container/mat-drawer-content/mat-sidenav-container/mat-sidenav/div/mh-navbar/aside/tree-root/div/div[4]/div/div/mh-navbar-item/div"
XPATH_REVIEWS_BTN="/html/body/app-root/ng-component/div[1]/mat-drawer-container/mat-drawer-content/mat-sidenav-container/mat-sidenav/div/mh-navbar/aside/tree-root/div/div[4]/tree-node-children/div/div[3]/div/div/mh-navbar-item/a/div"
XPATH_REVIEW_CONTAINER="/html/body/app-root/ng-component/div/mat-drawer-container/mat-drawer-content/mat-sidenav-container/mat-sidenav-content/div/mh-online/mh-alerts-wrapper/div/mh-core-lib-content/section/section[2]/mh-reviews/mh-review-list/mh-core-lib-loader-wrapper/div/mh-single-review[1]/div"

# HITS / Booking leads robot
HITS_LOGIN_URL="https://susceptor.apphotel.one/account/login?returnUrl=%2Fconnect%2Fauthorize%2Flogin%3Fresponse_type%3Did_token%2520token%26client_id%3DB37748FC-ED13-4858-AE26-28AB3512A171%26redirect_uri%3Dhttps%253A%252F%252Fnacionalinn.hitspms.net%252FCallback%26scope%3Dopenid%2520profile%2520webapi%26nonce%3DN0.3497118249924931781537935031%26state%3D17815379350310.6791647214104694"
HITS_USER="seu-login-hits"
HITS_PASSWORD="sua-senha-hits"
BOOKING_DATE_FROM="2026-06-08"
BOOKING_DATE_TO="2026-06-14"
HITS_MAX_ROWS="80"
